table {
    background-color: white;
    border: solid 1px gray;
}

tr{
    cursor: pointer;
}

.content {
    table-layout: fixed;
    border-spacing: 0;
    padding: 0;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 98vw;
}

.create-btn{
    float: right;
    margin-top: 1vh;
    margin-bottom: 1vh;
}