/* You can add global styles to this file, and also import other style files */

body .teacher {
    background-color: #D9F0FF;
    width: 100vw;
    height: 100vh;
}

body .people {
    background-color: lightgray;
    width: 100vw;
    height: 100vh;
}

